extends layout

block content
  if(!user)
    a(href="/login") Login 
    br
    a(href="/register") Register
  if(user)
    p You are currently logged in as #{user.username}
    a(href="/tournaments") Take me to tournaments
    br
    a(href="/logout") Logout