extends layout 

block content
    h1= title 

    form(id='TournamentForm', action="/resource/tournaments", method="POST")
        div.form-group 
            label.tournamentAttr(for='name') Tournament Name
            input#tournament_name(type='text', name='name')
        div.form-group 
            label.tournamentAttr(for='year') Tournament Year 
            input#tournament_year(type='number', name='year')
        div.form-group 
            label.tournamentAttr(for='location') Tournament Location 
            input#tournament_location(type='text', name='location')
        input(type='submit')

    script. 
        document.forms['TournamentForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target))
            }).then((resp) => {
                return resp.json();
            }).then((body) => {
                alert("Save succeded");
            }).catch((error) => {
                alert("Save failed " + error);
            });
        });